<div id="me">
    <p>
        <img src="/images/Headshot-Square.jpg" alt="Rajasekar Elango" />
        I'm <b>Rajasekar Elango</b>, software developer. I share my thoughts, things I learn, things that interests me in this blog.
    </p>
    <p>
        <a href="http://twitter.com/erajasekar">@erajasekar</a> &#8226;
        <a href="https://github.com/erajasekar">GitHub</a> &#8226;
        <a href="https://www.linkedin.com/pub/rajasekar-elango/7/5aa/b09">LinkedIn</a> &#8226;
        <a href="http://stackoverflow.com/users/701274/raja">Stack Overflow</a>
    </p>
</div>
